@page
@model HillerødSejlklubWebsite.Pages.BestyrelseModel
@{
    
}
<head>

    <style>

        .titel {
            display: block;
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 50px;
            text-align: center;
        }

        .email-text {
            display: block;
            font-size: 16px;
            margin-bottom: 50px;
            color: gray;
        }
        .display-profile {
            width: 300px;
            display: inline-block;
            margin-right: 15px;
            margin-top: 5px;
            margin-bottom: 100px;
            vertical-align: top;
        }

        .profile-picture {
            width: 200px;
            height: 200px;
            vertical-align: central;
            vertical-align: top;
        }
        .profile-information {
            width: 300px;
            height: auto;
            vertical-align: top;
            margin-top: 10px;
        }

        .name-text {
            margin-top: 5px;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 12px;
        }
        .position-text {
            margin-top: 5px;
            font-size: 15px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 12px;
        }
        .person-text {
            
        }
        .a {
            margin-bottom: 10px;
        }
    </style>


</head>

<body>
    <div class="titel">
        Bestyrelse og kontaktpersoner
    </div>

    <div class="email-text">
        Sejlkubbens mailadresse: hillerodsejl@gmail.com
    </div>

    <div class="display-profile">
        <img class="profile-picture" src="Pictures/Niels-Henrik.jpeg" />
            <div class="profile-information">
                <div class="name-text">
                Niels Henrik Meedom
                </div>
                <div class="position-text">
                Formand:
                </div>
                <div class="person-text">
                Kulsvier Huse 1, Gadevang
                <br class="a" />
                 3400 Hillerød
                 <br class="a" />
                 31 65 98 82
                <br class="a" />
                 meedom73@gmail.com
                <br class="a" />
                 </div>
             </div>
     </div>


    <div class="display-profile">
        <div>
            <img class="profile-picture" src="Pictures/Michael-Bestyrelse.jpeg" />
            <div class="profile-information">
                <div class="name-text">
                    Michael Krejberg
                </div>

                <div class="position-text">
                    Næstformand, bådudvalg:
                </div>

                <div>
                    Nødebovej 28, Nødebo
                    <br />
                    3480 Fredensborg
                    <br />
                    21 64 98 32
                    <br />
                    michael_kreiberg@hotmail.com
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="display-profile">
        <div>
            <img class="profile-picture" src="Pictures/Christian.jpeg" />
            <div class="profile-information">
                <div class="name-text">
                    Christian V Pedersen
                </div>

                <div class="position-text">
                    Kasserer:
                </div>

                <div>
                    Humlevænget 1, Nødebo
                    <br />
                    3480 Fredensborg
                    <br />
                    26 80 77 55
                    <br />
                    cvesterp@hotmail.com
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="display-profile">
        <div>
            <img class="profile-picture" src="Pictures/Henrik.jpeg" />
            <div class="profile-information">
                <div class="name-text">
                    Henrik K Knudsen
                </div>

                <div class="position-text">
                    Sekretær, bro- og bygningsudvalg:
                </div>

                <div>
                    Kirkevej 7A Nødebo
                    <br />
                    3480 Fredensborg
                    <br />
                    41 39 71 71
                    <br />
                    henrik.knu@gmail.com
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="display-profile">
        <div>
            <img class="profile-picture" src="" />
            <div class="profile-information">
                <div class="name-text">
                    Brian Munkeboe Baltzer
                </div>

                <div class="position-text">
                    Bestyrelsesmedlem:
                </div>

                <div>
                    Pibe Møllevej 4
                    <br />
                    brian.munkeboe@gmail.com
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="display-profile">
        <div>
            <img class="profile-picture" src="Pictures/Søren.jpeg" />
            <div class="profile-information">
                <div class="name-text">
                    Søren Hattel
                </div>

                <div class="position-text">
                    Optimisttræner:
                </div>

                <div>
                    Mellemvangen 3
                    <br />
                    3400 Hillerød
                    <br />
                    soeren@hattel.dk
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>

<footer>


</footer>