@page
@model HillerødSejlklubWebsite.Pages.BådeModel
@{
}


<head>

</head>

<body>
    <style>
        .titel {
            display: block;
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .under-titel {
            display: block;
            font-size: 30px;
            margin-bottom: 25px;
            font-weight: bold;
        }

        .Brødtekst-titel {
            display: block;
            font-size: 17px;
            margin-bottom: 25px;
            font-weight: bold;
            vertical-align: top;
            margin-bottom:0px
        }
   
  
        .boat-info{
            width: 500px;
            height:auto;
            font-size: 13px;
            font-weight:normal;
        }
        .image-size{
            width: 150px;
            height: 150px;
        }

       
    </style>


    <div class="titel">
        KLUBBENS BÅDE

    </div>
    <div class="under-titel">
        Optimistjolle:
        <img src="#" class="float-end img-fluid image-size" />
            <div class="boat-info">

            Klubben råder over et antal kluboptimistjoller. Denne jolle er den typiske begynderjolle, hvor piger og drenge fra 10 års alderen lærer at sejle og bliver tryg ved vandet.
            </div>
        </div>
        <br />
    <br />
    <br />


    <div class="under-titel">
        TERA:
        <img src="#" class="float-end img-fluid image-size" />
        <div class="boat-info">
            

            Tera jollen er en moderne begynder-jolle, som kan sejles af unge fra 8 år og op. Det er en selvlænsende jolle, som ser godt ud, og som sejler godt. Tera jollen sejler en smule hurtigere end en Optimist-jolle, og man kan træningsmæssigt uden problemer blande de to jolletyper.<br /><br />
      
            <div class="Brødtekst-titel "> Bådens specifikationer: </div>
            Længde 2.87 meter<br />
            Bredde 1.23 meter<br />
            Bom 2.08 meter<br />
            Top- og undermast 2.37 meter<br />
            Vægt 39kg<br />
            <br />
            <div class="Brødtekst-titel ">   Der findes tre typer sejl til en Tera-jolle: </div>

            Tera Mini : 2.7 m2<br />
            Tera Sport : 3.7 m2<br />
            Tera Pro : 4.8 m2<br />

        </div>
    </div>




    <div class="under-titel">
        FEVA:
        <img src="#" class="float-end img-fluid image-size" />
        <div class="boat-info">
            Klubben købte i 2012 med støtte fra TORM en FEVA jolle.
            Feva jollen er den perfekte jolle at begynde i, når man vil sejle 2 personer. Det er en moderne jolle, med et sportsligt præg. Den skal ikke lænses, selv ikke når den har været kæntret og er blevet rejst igen.
            Jollen egner sig fra ca. 10-11 år og op til 17-18 års alderen.
            <br /><br />

            <div class="Brødtekst-titel "> Bådens specifikationer: </div>
            Længde: 3,64 meter<br />
            Bredde: 1,43 meter<br />
            Vægt: 63 kg<br />
            <br />
            <div class="Brødtekst-titel ">   Sejl: </div>

            Storsejl S: 5,5 m2<br />
            Storsejl XL : 6,5 m2<br />
            Fok: 2,2 m2<br />
            Genakker: 7,0 m2<br />
        </div>
    </div>
            <div class="under-titel">
        Laserjolle:
   
           
                <img src="#" class="float-end img-fluid image-size" />
                <div class="boat-info">
                    Jollen er designet af Bruce Kirby i 1970. Idéen med laseren var, at den skulle være enkel. Derfor er masten simpelthen to aluminiumsrør, der sættes sammen, hvorefter sejlet trækkes ud over den. Oprindeligt var der intet trim, så det kom an på, hvordan man sejlede, i stedet for hvordan man trimmede jollen. Der er dog senere tilsat lidt trim.

                    Udover at laserjollen er enkel og nem at rigge til, kan den bruges af flere aldersgrupper og vægtklasser, da der er lavet flere forskellige rigge til den samme båd. Standard-riggen sejles af de tungeste over 60 kg. Radial-riggen sejles oftest af kvinder, da idealvægten er mellem 55-70 kg. Til børnene findes en endnu mindre rig, Laser 4.7, og den kan sejles helt ned til 35 kg.

                    Klubben råder over 7 joller.
        </div>
            </div>
    <br />
    <br />
    <div class="under-titel">
        Europajolle:
   

    <img src="#" class="float-end img-fluid image-size" />
    <div class="boat-info">
        Europaen blev designet i 1960 af Alois Roland i Belgien, som en jolle af moth-typen.

        Europajollen blev for alvor kendt, da den i 1992 blev en olympisk klasse for kvinder som et alternativ til herrernes finnjolle. I 2008 blev den dog udskiftet med Laser Radial. Den er meget udbredt i det meste af Europa, og især i Skandinavien findes store kapsejladsfelter. Klubben råder over 3 joller
        </div>
    </div>
  

    <div class="under-titel">
        Snipejolle:
   

    <img src="#" class="float-end img-fluid image-size" />
    <div class="boat-info">
        En Snipe er en lille tomands sejljolle, der blev designet af William F. Crosby i 1931. Bådens klassetegn er silhetten af en bekkasin, og dette har givet den sit navn, da snipe er det engelske navn for bekkasin. Der sejles Snipe i 26 forskellige lande, og i hele verden er der blevet konstrueret mere end 30.000 Snipes.

        Den har udviklet sig til en kendt, taktisk kapsejladsjolle med kapsejladsfelter i hele verden. Dette gælder især i USA, men også i andre lande, som f.eks. Norge, findes der mange Snipes. Snipen er simpel og lille, hvilket gør den nem at sejle, men samtidig er niveauet i toppen højt. Selvom konkurrencen i toppen af Snipe-ranglisten er stor, går sejlerne også meget op i det sociale. Mange af regattaerne er derfor lige så kendte for sejladsen som for festerne. Snipe-sloganet er “Seriøs sejlads, seriøs sjov”.
        </div>
    </div>


    <div class="under-titel">
        Wayfarer:
    

    <img src="#" class="float-end img-fluid image-size" />
    <div class="boat-info">
        Søstærk jolle for seniorer. Den kan bruges lige godt til kapsejlads og til en tur til Kongens Bøge.

        Klubben har en jolle af denne type
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="under-titel">
        Lynæs:
    
        <img src="#" class="float-end img-fluid image-size" />
        <div class="boat-info">
        Lynæs 14 er en lille stabil kølbåd. De 4 Lynæs 14, som klubben råder over, bruges primært af seniorerne og til familiesejlads på søen, Men sejler også kapsejlads mod hinanden.

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

<footer>
</footer>

