@page
@model HillerødSejlklubWebsite.Pages.HoldModel
@{
}



<head>

</head>

<body>
    <style>
        .titel {
            display: block;
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .under-titel {
            display: block;
            font-size: 30px;
            margin-bottom: 25px;
            font-weight: bold;
        }

        .Brødtekst-titel {
            display: block;
            font-size: 17px;
            margin-bottom: 25px;
            font-weight: bold;
            vertical-align: top;
            margin-bottom: 0px
        }


        .hold-info {
            width: 500px;
            height: auto;
            font-size: 13px;
            font-weight: normal;
        }

        .image-size {
            width: 150px;
            height: 150px;
        }

    </style>
    <div class="titel">
        HOLD
    </div>

    <div class="under-titel">
        Juniorsejlads:
        <img src="~/pictures/juniorsejlads.jpg"  class="float-end img-fluid image-size" />
        <div class="hold-info">

            NYT i 2025: Hver Tirsdag fra klokken 16:30 træner juniorsejlerne

            Der sejles i optimistjoller, Feva og Laserjoller under kyndig ledelse af kompetente instruktører

            Har du lyst til at lære at sejle, så mød op i klubben tirsdage klokken 16:30.
            <br />   <br />   <br />

        </div>
    </div>

    <div class="under-titel">
        Seniorsejlads:
        <img src="~/pictures/seniorsejlads.jpg"  class="float-end img-fluid image-size" />
        <div class="hold-info">

            Hver tirsdag fra klokken 17:00 træner seniorsejlerne.

            Der sejles i klubbens tre Lynæs-14 kølbåde, i klubbens Wayfarer og i klubbens fem Laserjoller.

            Desuden er der private joller med i sejladserne.

            Har du lyst til at lære at sejle, så mød op i klubben tirsdage kokken 17:00

            Vi mixer gamle og nye på bådene fra gang til gang og nye indføres gradvist i regler,

            krav til frigivelse osv
            <br />   <br />   <br />


        </div>
    </div>
    <div class="under-titel">
        Familiesejlads på Esrum Sø. Sport/motion/naturoplevelse:
        <img src="~/pictures/familiesejlads.jpg" class="float-end img-fluid image-size" />
        <div class="hold-info">



            Fædre og mødre, der står og ser på deres børn sejler optimistjolle, skal også ud og sejle, men ikke kun det.<br />

            Når børnene er for store til at sejle optimistjolle og skal over i noget større, er der en oplagt mulighed for at inddrage forældrene, så de også kommer ud og sejle. Hvis f.eks. far og søn kommer ud og sejle sammen, kan det blive en fantastisk oplevelse, og der vil være meget at tale om ved middagsbordet. Det gælder selvfølgelig ikke kun for far/søn sejlads. Bemandingen i bådene kan være alle kombinationer af far, mor, søn og datter.<br />

            En af ideerne med denne familiesejlads er at fastholde de unge i sporten i de svære år, hvor de bliver teenagere, men det er også et tilbud til travle forældre, der gør det muligt at dyrke sport og motion samtidig med børnene. Ved at inddrage forældrene bliver sejlads et familieprojekt, som alle er sammen om. Når man først er begyndt at sejle, er det en sport/motion/naturoplevelse, som man kan dyrke hele livet.<br />

            Forestil dig, at du har din søn/datter med i en sejljolle på Esrum Sø. Det er jer to, der skal arbejde sammen om at balancere jollen, trimme sejlene og styre båden derhen, hvor I ønsker. Måske i et felt af både, der sejler i en kapsejlads, eller det er bare en tur ud og nyde den friske luft og den smukke natur. Få fornemmelsen af, hvordan man ved fælles hjælp, og vindens kraft, får båden til at glide gennem vandet.<br />

            <br />   <br />   <br />


        </div>
    </div>

    <br />



    </body>
    <footer></footer>