@page
@model HillerødSejlklubWebsite.Pages.KalenderModel
@{
}


<head>
    <style>
        .title {
            display: block;
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 50px;
            text-align: center;
        }

        .under-titel {
            display: block;
            font-size: 25px;
            margin-bottom: 50px;
            font-weight: bold;

        }

        .text {
            display: inline-block;
            width: 40%;
            height: auto;
            margin-bottom: 20px;
        }
        .pictures {
            display: inline-block;
            width: 40%;
            height: auto;
            text-align: right;
        }
    </style>



</head>

<body>
    <div class="title">
        Kalender
    </div>

    <div class="under-titel">
        Foreløbig aktivitetskalender 2025 for Hillerød Sejlklub
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td class="text">
                    <strong>
                        Tirsdag d. 8. April klokken 19:30
                    </strong>
                    <br />
                    Informationsaften i klubbens lokaler, krostien 11 i Nødebo Der vil være snacks og forfriskninger.
                </td>
            </tr>


            <tr>
                <td class="text">
                    <strong>
                        Lørdag d. 12. April klokken 09:00 – 13:00
                    </strong>
                    <br />
                    Arbejdsdag i klubben, morgenmaden og dagens program serveres klokken 9:00
                </td>

            </tr>

            <tr>
                <td class="text">
                    <strong>
                        Lørdag den 26. April
                    </strong>
                    <br />
                    Bro i og standerhejsning. Vi mødes på anlægget klokken 9:00.Tovholder Henrik Kromann.

                    Vognmanden kommer kl 10:00. Standeren bliver hejst kl. 15:00
                </td>

            </tr>
            <tr>
                <td class="text">
                    <strong>
                        Tirsdag den 29. april
                    </strong>
                    <br />
                    Første tirsdagssejlads. Træningssejlads for juniorer og seniorer. Juniorer mødes på havnen kl. 16:30. Seniorer mødes på havnen kl. 17:00.
                </td>

            </tr>
            <tr>
                <td class="text">
                    <strong>
                        Torsdag den 1. Maj
                    </strong>
                    <br />
                    Første torsdags sejlads.

                    Kapsejlads med joller og kølbåde. Skippermøde i klubhuset kl. 17:30. Starten går klokken 18:00
                </td>

            </tr>
            <tr>
                <td class="text">
                    <strong>
                        Lørdag d. 21 og søndag d. 22 Juni – Kapsejlads Sjælland rundt på indersiden srpi.dk
                    </strong>
                    <br />
                    Klubben deltager hvert år med et par både, typisk lynæs joller til SRPI Light. Super hyggeligt kapsejlads hvor man lærer en masse andre sejlere at kende.
                </td>

            </tr>
        </tbody>
    </table>


</body>
