@page
@model HillerødSejlklubWebsite.Pages.KapsejladsModel
@{
	ViewData["Title"] = "Kapsejlads";
}

<div class="container single-page-container">
	<div class="row">
		<h1 class="text-center">
			Kapsejlads
		</h1>
		<img src="Pictures/Kapsejlads-Billede.jpg" alt="Kapsejlads Billede"/>
	</div>
</div>