@page
@model HillerødSejlklubWebsite.Pages.KapsejladsModel
@{
	ViewData["Title"] = "Kapsejlads";
}

<div class="container single-page-container">
	<div class="row">
		<h1 class="text-center">
			Kapsejlads
		</h1>

		<img src="Pictures/Kapsejlads-Billede.jpg" alt="Kapsejlads Billede"/>

		<h2 class="text-center">
			Kapsejlads stilling nuværende sæson
		</h2>

		<div class="nv-content-wrap entry-content"
		<div id="tablepress-1_wrapper" class="dataTables_wrapper no-footer">
			<table id="tablepress-1" class="tablepress tablepress-id-1 dataTable no-footer">
				<thead>
					<tr class="row-1 odd">
						<th class="column-1 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" style="width: 144.433px;" aria-label="Navn: activate to sort column ascending">Navn</th>
						<th class="column-2 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" style="width: 95.3833px;" aria-label="Point: activate to sort column ascending">Point</th>
						<th class="column-3 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" style="width: 173.133px;" aria-label="Antal sejre: activate to sort column ascending">Antal sejre</th>
						<th class="column-4 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" style="width: 264.05px;" aria-label="Antal kapsejllads: activate to sort column ascending">Antal kapsejllads</th>
					</tr>
				</thead>
				<tbody class="row-hover">
					<tr class="row-2 even">
						<td class="column-1">Brian</td>
						<td class="column-2">34</td>
						<td class="column-3">6</td>
						<td class="column-4">10</td>
					</tr>
					<tr class="row-3 odd">
						<td class="column-1">Niels Henrik</td>
						<td class="column-2">24</td>
						<td class="column-3">6</td>
						<td class="column-4">7</td>
					</tr>
					<tr class="row-4 even">
						<td class="column-1">Michael</td>
						<td class="column-2">36</td>
						<td class="column-3">6</td>
						<td class="column-4">11</td>
					</tr>
					<tr class="row-5 odd">
						<td class="column-1">Poul</td>
						<td class="column-2">12</td>
						<td class="column-3">3</td>
						<td class="column-4">3</td>
					</tr>
					<tr class="row-6 even">
						<td class="column-1">Mads</td>
						<td class="column-2">15</td>
						<td class="column-3">1</td>
						<td class="column-4">6</td>
					</tr>
					<tr class="row-7 odd">
						<td class="column-1">Ib</td>
						<td class="column-2">7</td>
						<td class="column-3">1</td>
						<td class="column-4">2</td>
					</tr>
					<tr class="row-8 even">
						<td class="column-1">Lauritz</td>
						<td class="column-2">6</td>
						<td class="column-3">0</td>
						<td class="column-4">2</td>
					</tr>
					<tr class="row-9 odd">
						<td class="column-1">Asger</td>
						<td class="column-2">19</td>
						<td class="column-3">2</td>
						<td class="column-4">7</td>
					</tr>
					<tr class="row-10 even">
						<td class="column-1">Henrik</td>
						<td class="column-2">4</td>
						<td class="column-3">1</td>
						<td class="column-4">1</td>
					</tr>
					<tr class="row-11 odd">
						<td class="column-1">Peter</td>
						<td class="column-2">1</td>
						<td class="column-3">0</td>
						<td class="column-4">1</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<p>4 point for vundet kapsejlads</p>
			<p>3 for anden plads</p>
			<p>2 for tredjeplads</p>
			<p>1 point for deltagelse i kapsejlads <br /><br /><br /><br /><br /><br /></p>
		</div>

	</div>
</div>