@page
@model HillerødSejlklubWebsite.Pages.HusordenModel
@{
}
<head>
    <style>
        .titel {
            display: block;
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }

        .undertitel {
            display: block;
            font-size: 25px;
            margin-bottom: 40px;
            text-align: center;
        }

        .content-box {
            border: 1px solid #ccc;
            padding: 30px;
            max-width: 1100px;
            margin: 30px auto;
        }

        .image-right {
            float: right;
            width: 440px;
            margin: 0 0 20px 30px;
        }
    </style>
</head>

<body>
    <div class="titel">Nødebo Jollehavn</div>
    <div class="undertitel">Husorden</div>

    <div class="content-box">

        <img src="~/images/jollehavn.jpg" alt="Jollehavn" class="image-right" />

        <h4>Disposition vedrørende Husorden for Anlægget Nødebo jollehavn</h4>

        <h5>1. GENERELT</h5>

        <p>
            1.1. Om anlæggets anvendelse, herunder beskrivelse af formålet med husordenen og anførelse af brugende klubber.
        </p>

        <p>1.2. Henvisning til Lokalplan</p>

        <p>
            1.3. Kommunens forpligtelser og brugende klubbers forpligtelser.
            Den enkelte brugers ansvar.
        </p>

        <p>1.4. Adgangsberettigelse</p>

        <p>
            1.5. Ansvar for den daglige drift.
            Udpegning af koordinator overfor kommune og teknisk personale,
            der skal udbedre skader og defekter.
        </p>

        <p>
            1.6. Henvisning til Fællesudvalgets vedtægter og aktivitetsrelaterede
            forhold (aktivitetskalenderen).
        </p>

        <h5>2. OM SÆRLIGE FORHOLD VED ANLÆGGETS ANVENDELSE</h5>

        <p>2.1. Broerne, der tilsammen udgør Jollehavnen:</p>
        <p>- Sejlklubbens bro</p>
        <p>- Kajakklubbens bro</p>

        <p>2.2. Landanlægget:</p>
        <p>- Teltslagningsmuligheder</p>
        <p>- Parkeringsmæssige forhold</p>

        <p>2.3. Klubhuset som et samlet hele.</p>
        <p>- Entreen</p>
        <p>- Køkkenets anvendelse</p>
        <p>- Bestyrelsesrum</p>
        <p>- Det store opholdsrum</p>
        <p>- Omklædningsrum</p>
        <p>- Toiletter</p>
        <p>- Sauna</p>

        <p>2.4. Motionsrum</p>
        <p>- Adgangsberettigede</p>
        <p>- Ordensregler</p>
        <p>- Rengøring</p>

        <p>2.5. Bådskure</p>
        <p>- Sejlklubbens areal</p>
        <p>- Kajakklubbens areal</p>

        <p>2.6. Redskabsskur</p>

        <h5>3. SIKKERHEDSMÆSSIGE FORHOLD</h5>

        <p>
            - Offentlighedens adgang til anlægget og de hensyn/ansvar klubberne
            skal udvise (tilsyn med broer om sommeren og oplægning af klubbernes
            materiel udenfor sæson).
        </p>

        <p>
            - Arbejdsmiljøloven (henvisning hertil og meget generelt i forhold
            til anlæggets daglige drift og de årlige arbejds-weekender).
        </p>

        <p>- Tilkald af hjælp</p>
        <p>- Førstehjælp</p>

    </div>
    <br />
    <br />
    <br />
    <br />
</body>

