@page
@model HillerødSejlklubWebsite.Pages.HusordenModel
@{
}

<head>

</head>

<body>
    <style>
        .titel {
            display: block;
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 30px;
         
        }

        .under-titel {
            display: block;
            font-size: 30px;
            margin-bottom: 25px;
            font-weight: bold;
        
        }

        .Brødtekst-titel {
            display: block;
            font-size: 17px;
            margin-bottom: 25px;
            font-weight: bold;
            vertical-align: top;
            margin-bottom: 0px;
   
        }


        .text-infos {
            width: 500px;
            height: auto;
            font-size: 13px;
            font-weight: normal;
  
        }

        .image-size {
            width: 150px;
            height: 150px;
      
        }

    </style>
    <div class="titel">
        Lokationsregler
    </div>

    <div class=" under-titel">
        Husorden
    </div>

    <div class=" text-infos">
        Disposition vedrørende husorden for Anlægget Nødebo Jollehavn
        <div class=" Brødtekst-titel">
            1. GENERELT
        </div>

        1.1. Om anlæggets anvendelse, herunder beskrivelse af formålet med husordenen og anførelse af brugende klubber. <br />

        1.2. Henvisning til Lokalplan<br />

        1.3. Kommunens forpligtelser og brugende klubbers forpligtelser. Den enkelte brugers ansvar.<br />

        1.4. Adgangsberettigelse<br />

        1.5. Ansvar for den daglige drift. Udpegning af koordinator overfor kommune og teknisk personale, der skal udbedre skader og defekter.<br />

        1.6. Henvisning til Fællesudvalgets vedtægter og aktivitetsrelaterede forhold (aktivitetskalenderen).<br />
        <div class=" Brødtekst-titel">
            2. OM SÆRLIGE FORHOLD VED ANLÆGGETS ANVENDELSE
        </div>
       

        2.1. Broerne, der tilsammen udgør Jollehavnen:<br />

    -    Sejlklubbens bro<br />
   -     Kajakklubbens bro<br /> 

        2.2. Landanlægget:<br />

   -     Teltslagningsmuligheder<br />
    -    Parkeringsmæssige forhold<br />

        2.3. Klubhuset som et samlet hele.<br />

       -  Entreen<br />
      -  Køkkenets anvendelse<br />
    -    Bestyrelsesrum<br />
 -       Det store opholdsrum<br />
    -    Omklædningsrum<br />
-        Toiletter<br />
    -    Sauna<br />

        2.4. Motionsrum<br />

       -  Adgangsberettigede<br />
      -   Ordensregler<br />
    -     Rengøring<br />

        2.5. Bådskure<br />

         - Sejlklubbens areal<br />
      -   Kajakklubbens areal<br />

        2.6. Redskabsskur<br />
        
        <div class=" Brødtekst-titel">
            3. SIKKERHEDSMÆSSIGE FORHOLD
        </div>
        Offentlighedens adgang til anlægget og de hensyn/ansvar klubberne skal udvise (tilsyn med broer om sommeren og oplægning af klubbernes materiel udenfor sæson).<br />
        Arbejdsmiljøloven (henvisning hertil og meget generelt i forhold til anlæggets daglige drift og de årlige arbejds-weekender.<br />
        - Tilkald af hjælp<br />
       -  Førstehjælp<br />

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />

</body>

