@page
@model HillerødSejlklubWebsite.Pages.Index1Model
@{
}
<header>

</header>
<body>

    <style>
        .Brødtekst {
            display: block;
            font-size: 13px;
            margin-bottom: 25px;
            vertical-align: top;
            margin-bottom: 0px
        }

        .titel {
            display: block;
            font-size: 55px;
            margin-bottom: 30px;
        }

    </style>
    <div class=" titel">
        Hillerød Sejlklub
    </div>
    <img src="~/pictures/hillerød sejlklub om os.jpg" />
    <br />
    <br />

   <div class=" Brødtekst">
        Hillerød Sejlklub er en klub for jollesejlere.
        Vi har altid plads til børn og voksne, som vil sejle for deres fornøjelses skyld, for det sociale samvær, og evt. selv medvirke eller støtte andre sejlere i konkurrencesejlads.

        <br />        <br />        <br />        <br />        <br />        <br />

   </div> 

</body>