@page
@model HillerødSejlklubWebsite.Pages.Sign_UpModel
@{
}


<head>
    <style>
        .title {
            display: inline-block;
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 50px;
            text-align: center;
        }

        .input-box {
            display: inline-block;
            height: auto;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 15px;
            width
        }
        
        .input-bar {
            display: inline-block;
        }

        .text {
            display: inline-block;
            height: auto;
            width: 400px
        }
        .width {
            width: 300px;
        }


    </style>



</head>

<body>
    <div class="title">
        Meld dig ind
    </div>
    <div class="width">
        <div class="input-box">
            Navn og efternavn
            <br />
            <input class="search-bar" type="text" placeholder="">
        </div>

        <div>
            <div class="input-box">
                Adresse
                <br/>
                <input class="search-bar" type="text" placeholder="">
            </div>

        </div>

        <div>
            <div class="input-box">
                Fødselsdag
                <br />
                <input class="search-bar" type="text" placeholder="mm/dd/yyyy">
            </div>

        </div>

        <div>
            <div class="input-box">
                Medlemsskab: Junior, Senior eller Familie
                <br />
                <input class="search-bar" type="text" placeholder="">
            </div>

        </div>

        <div>
            <div class="input-box">
                Email
                <br />
                <input class="search-bar" type="text" placeholder="">
            </div>

        </div>
     </div>

     <div class="width">
         <strong class="text">
            Årlig kontingent pr. 1. januar 2023
         </strong>
        <table class="table">
            <tbody>
                <tr>
                    <td class="text">
                        Junior (op til 18 år)
                    </td>
                    <td class="text">
                        <strong>750,00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Junior medlem inkl. pladsleje
                    </td>
                    <td class="text">
                        <strong>950,00</strong>
                    </td>
                </tr>
                 <tr>
                    <td class="text">
                        Senior medlem
                    </td>
                    <td class="text">
                        <strong>1100,00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Senior medlem inkl. pladsleje
                    </td>
                    <td class="text">
                        <strong>1500,00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Familie (hele husstanden)
                    </td>
                    <td class="text">
                        <strong>  1500,00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Bådplads
                    </td>
                    <td class="text">
                        <strong>400,00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Passiv medlem
                    </td>
                    <td class="text">
                        <strong>250,00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Indmeldelse
                    </td>
                    <td class="text">
                        <strong>150,00</strong>
                    </td>
                </tr>

            </tbody>
        </table>

     </div>



</body>