@page
@model HillerødSejlklubWebsite.Pages.VedtægterModel
@{
}

<head>
    <style>
        .titel {
            display: block;
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }

        .under-titel {
            display: block;
            font-size: 20px;
            margin-bottom: 50px;
        }

        .box {
            margin-left: 50px;
            margin-right:50px;
            width: auto;
            height: auto;
            outline-color: black;
            outline-width: 10px;
        }

        .vedtægter {

            width: 15px;
            height: auto;
            font-size: 15px;
            vertical-align: middle;
            outline-color: black;
            outline-width: 10px;
        }

    </style>
</head>


<body>
    <div class="titel">
        Vedtægter
    </div>

    <div class="under-titel">
        VEDTÆGTER FOR: Hillerød Sejlklub
    </div>

    <div class="box">
    <table class="table">
        <tbody>
            <tr>
                <td class="vedtægter">
                    § <br /> 1
                </td>
                <td class="vedtægter">
                    <strong>KLUBBENS NAVN OG HJEMSTED</strong>
                    <br />
                    Klubbens navn er Hillerød Sejlklub
                    <br />
                    Dens hjemsted er Hillerød kommune.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 2
                </td>
                <td class="vedtægter">
                    <strong>KLUBBENS FORMÅL </strong>
                    <br />
                    Klubbens formål er at fremme interessen for og virke til gavn for sejlsporten på Esrum Sø samt at være samlingssted for disse aktiviteter.
                </td>
            </tr>


            <tr>
                <td class="vedtægter">
                    § <br /> 3
                    </td>
                <td class="vedtægter">
                    <strong> MEDLEMSKAB AF ORGANISATION</strong>
                    <br />
                    Klubben er medlem af Dansk Sejlunion og Sundkredsen og er undergivet disses vedtægter og bestemmelser.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 4
                </td>
                <td class="vedtægter">
                    <strong> OPTAGELSE AF MEDLEMMER </strong>
                    <br />
                    Som aktivt eller passivt medlem af seniorafdelingen kan bestyrelsen optage enhver, der er fyldt 18 år.
                    Som aktivt eller passivt medlem af ungdomsafdelingen kan bestyrelsen optage enhver i alderen fra 8 år til 17 år. Optagelse af umyndige som medlemmer af klubben kræver skriftlig samtykke fra forældre/værge.
                    <br />
                    Æresmedlemmer kan på bestyrelsens forslag vælges af generalforsamlingen. Beslutning herom kræver samme majoritet, som er foreskrevet til ændring af klubbens vedtægter, jfr. § 15. Spørgsmål om valg af æresmedlemmer kan ikke gøres til genstand for diskussion på generalforsamlingen.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 5
                </td>
                <td class="vedtægter">
                    <strong>KONTINGENT </strong>
                    <br />
                    Klubbens kontingent fastsættes for ét år ad gangen på den ordinære generalforsamling.
                    Kontingentet opkræves helårsvis forud for alle medlemmer. Forfaldsdagen er den 15. i efterfølgende måned.
                    Sammen med kontingentet opkræves eventuelt. pladsleje, idet kun medlemmer har ret til opbevaring af jolle på det område, klubben har fået stillet til rådighed.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 6
                </td>
                <td class="vedtægter">
                    <strong> UDMELDELSE – EKSKLUSION</strong>
                    <br />
                    Til gyldig udmeldelse kræves, at den sker skriftligt til klubben med mindst 14 dages varsel, og at det pågældende medlem har betalt sit kontingent til klubben frem til den dag, hvorfra udmeldelsen har virkning. Medlemmet har krav på en skriftlig bekræftelse.
                    Når et medlem er i kontingentrestance udover 2 måneder, kan bestyrelsen med mindst 8 dages skriftligt varsel ekskludere vedkommende.
                    Ingen, der er udelukket på grund af kontingentrestance, kan optages på ny som medlem af klubben, før vedkommende har betalt sin gæld til klubben.
                    I øvrigt kan bestyrelsen ekskludere et medlem, når særlige forhold giver anledning dertil. Bestyrelsens beslutning herom kræver dog, at mindst 2/3 af bestyrelsens medlemmer har stemt for eksklusionen.
                    Vedkommende skal, inden bestyrelsen træffer sin afgørelse, have haft lejlighed til at fremføre sit forsvar, og han kan kræve at spørgsmålet om eksklusion afgøres på den førstkommende ordinære generalforsamling. I alle tilfælde, hvor en eksklusion skal behandles på en generalforsamling, har vedkommende medlem krav på at få meddelelse herom senest 3 døgn, før generalforsamlingen afholdes, ligesom han har adgang til denne med ret til at forsvare sig. Spørgsmålet om eksklusion skal optages som et særskilt punkt på dagsordenen.
                    Generalforsamlingens beslutning om eksklusion kræver samme majoritet, som ved ændring af klubbens vedtægter, jfr. § 15.
                    Et medlem, der er ekskluderet i henhold til en generalforsamlingsbeslutning, kan kun optages som medlem ved en ny generalforsamlingsbeslutning. Her kræves samme majoritet som ved beslutning om eksklusion.
                    Ved udmeldelse eller eksklusion ydes ikke refusion for kontingent, pladsleje eller andre medlemsydelser.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 7
                </td>
                <td class="vedtægter">
                    <strong> ORDINÆR GENERALFORSAMLING</strong>
                    <br />
                    Generalforsamlingen er med de indskrænkninger, som disse vedtægter foreskriver, den højeste myndighed i alle klubbens anliggender.
                    Den ordinære generalforsamling, der afholdes hvert år i november måned , indkaldes med mindst 3 ugers varsel ved skriftlig meddelelse til medlemmerne.
                    Dagsordenen bekendtgøres senest 8 dage før generalforsamlingens afholdelse på tilsvarende måde. Forslag, der ønskes forelagt generalforsamlingen til vedtagelse, skal være bestyrelsen i hænde senest 14 dage før generalforsamlingens afholdelse. Forslagene skal optages i dagsordenen.
                    Stemmeret har alle aktive medlemmer der er fyldt 18 år, og har været medlem af klubben i de sidste 3 måneder før generalforsamlingen, og som ikke er i kontingentrestance. Stemmeret kan kun udøves ved personligt fremmøde.
                    Æresmedlemmer kan uden stemmeret overvære generalforsamlingen.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 8
                </td>
                <td class="vedtægter">
                    <strong> DAGSORDEN</strong>
                    <br />
                    Dagsorden for den ordinære generalforsamling skal omfatte følgende punkter: Valg af dirigent Bestyrelsens beretning for det forløbne år Forelæggelse af regnskab for det forløbne år til godkendelse samt budget for det kommende år. Behandling af eventuelt indkomne forslag Fastsættelse af kontingent Valg af formand lige årstal Valg af kasserer ulige årstal Valg af den øvrige bestyrelse 3 medlemmer, hvoraf 1 vælges i lige årstal og 2 i ulige årstal Valg af 1 suppleant til bestyrelsen Valg af 2 revisorer samt 1 revisorsuppleant Eventuelt  
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 9
                </td>
                <td class="vedtægter">
                    <strong> GENERALFORSAMLINGENS LEDELSE M.V.</strong>
                    <br />
                    Generalforsamlingen vælger sin dirigent, der ikke må være medlem af bestyrelsen, til at lede forhandlingerne.
                    Generalforsamlingens beslutninger træffes ved simpelt stemmeflertal, jfr. dog § 4, stk. 3 og § 6, stk. 6 og 7, § 15 og § 16, stk. 1. Dirigenten bestemmer afstemningsmåden. Dog skal på begæring fra 25% af stemmeberettigede medlemmer afstemning og valg foregå skriftligt, ligesom alle afstemninger om eksklusion skal foregå skriftligt.
                    Generalforsamlingens beslutninger indføres i en protokol, hvori også et referat af forhandlingerne optages i det omfang, dirigenten bestemmer.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 10
                </td>
                <td class="vedtægter">
                    <strong> EKSTRAORDINÆR GENERALFORSAMLING</strong>
                    <br />
                    Ekstraordinær generalforsamling kan til enhver tid indkaldes af bestyrelsen og skal indkaldes, når mindst 25 % af de stemmeberettigede medlemmer skriftligt stiller krav herom til bestyrelsen. I sidstnævnte tilfælde skal generalforsamlingen afholdes senest 1 måned efter, at begæringen er fremsat overfor bestyrelsen med oplysning om det emne, der ønskes behandlet.
                    Om indkaldelsesmåde og udsendelse af dagsorden gælder bestemmelserne i § 7, stk. 2.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 11
                </td>
                <td class="vedtægter">
                    <strong> BESTYRELSE – VALG</strong>
                    <br />
                    Bestyrelsen er klubbens daglige ledelse og repræsenterer klubben i alle forhold. De vedtagne beslutninger og foretagne handlinger forpligter klubben i henhold til lovene.
                    Bestyrelsen består af en formand, en næstformand, en kasserer, en sekretær og yderligere 1 medlem og vælges for to år ad gangen af den ordinære generalforsamling.
                    Formanden og kassereren vælges ved særlig afstemning.
                    Genvalg kan finde sted.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 12
                </td>
                <td class="vedtægter">
                    <strong> KONSTITUERING – TEGNINGSRET</strong>
                    <br />
                    Bestyrelsen konstituerer sig snarest – dog senest inden 14 dage – efter generalforsamlingen på et bestyrelsesmøde, med næstformand og sekretær.
                    Bestyrelsen fastsætter selv sin forretningsorden.
                    Bestyrelsen er kun beslutningsdygtig, når mindst halvdelen af dens medlemmer, hvoriblandt formanden eller næstformanden, er til stede, jfr. dog § 6, stk. 4.
                    I formandens forfald indtræder næstformanden i hans sted.
                    Over bestyrelsens forhandlinger føres en protokol.
                    Klubben tegnes af formanden. Ved økonomiske dispositioner kræves dog underskrift af enten formanden eller kassereren. I alle sager, der angår køb, salg eller pantsætning af fast ejendom eller løsøre, tegnes klubben af formanden, næstformanden og kassereren i forening.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 13
                </td>
                <td class="vedtægter">
                    <strong> REGNSKAB</strong>
                    <br />
                    Klubbens regnskabsår er 1. oktober – 30. september.
                    Bestyrelsen skal inden den 1. november afgive driftsregnskab for det foregående år og status pr. 30. september til revisorerne.
                    Driftsregnskab og status forelægges den ordinære generalforsamling til godkendelse og skal være forsynet med revisorernes påtegning.
                    Driftsregnskab og status bekendtgøres for klubbens medlemmer senest 8 dage før generalforsamlingens afholdelse.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 14
                </td>
                <td class="vedtægter">
                    <strong> REVISION</strong>
                    <br />
                    På den ordinære generalforsamling vælges for ét år ad gangen 2 kritiske revisorer og 1 revisorsuppleant, jfr. § 8.
                    Revisorer skal hvert år i oktober gennemgå det samlede regnskab og påse, at beholdningerne er til stede. Driftsregnskab og status forsynes med påtegning. Hver af revisorerne har til enhver tid adgang til at efterse regnskab og beholdninger.
                </td>
            </tr>

                      <tr>
                <td class="vedtægter">
                    § <br /> 15
                </td>
                <td class="vedtægter">
                    <strong> PRIVATE EJENDELE</strong>
                    <br />
                    Opbevaring af medlemmers private både og udstyr på klubbens område
                    Opbevaring af private både og disses udstyr er på medlemmernes eget ansvar. HIS har ikke ansvar for nogle af disse dele opbevaret ude i det fri eller i klubbens opbevaringsrum
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 16
                </td>
                <td class="vedtægter">
                    <strong> VEDTÆGTSÆNDRINGER</strong>
                    <br />
                    Forandringer af vedtægter kan ske på enhver generalforsamling, når mindst 2/3 af de afgivne stemmer er for forslaget.
                </td>
            </tr>

            <tr>
                <td class="vedtægter">
                    § <br /> 17
                </td>
                <td class="vedtægter">
                    <strong> KLUBBENS OPLØSNING</strong>
                    <br />
                    Bestemmelse om klubbens opløsning kan kun tages på en i dette øjemed særlig indkaldt ekstraordinær generalforsamling. Til dennes beslutningsdygtighed kræves, at mindst 1/2 af klubbens stemmeberettigede medlemmer er til stede, og til forslagets vedtagelse kræves, at mindst 3/4 af de afgivne stemmer er for forslaget.
                    Opnås sådant flertal på en generalforsamling, der ikke er beslutningsdygtig, indkaldes til en ny generalforsamling, hvor beslutning kan træffes med ovennævnte stemmeflerhed, uanset hvilket antal stemmeberettigede medlemmer der er til stede.
                    På generalforsamlingen skal samtidig træffes bestemmelse om, hvorledes der skal forholdes med klubbens formue, herunder fast ejendom og løsøre, dog er simpelt stemmeflertal her tilstrækkeligt.
                    I tilfælde af klubbens opløsning skal den formue, der er i behold, anvendes til ideelle, søsportslige formål.
                </td>
            </tr>

        </tbody>
    </table>
    </div>
</body>