<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HillerødSejlklubWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HillerødSejlklubWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">
                <img src="c:\users\lenna\onedrive\dokumenter\github\eksamens-case-hiller-d-sejlklub\hiller-dsejlklubwebsite-master\hillerødsejlklubwebsite\pages\shared\logo hillerød sejklub.jpg" width="35" height="35" />



                <a class="navbar-brand" asp-area="" asp-page="Index">Hillerød Sejlklub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                -->asdasd
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Forside</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" style="color:black" aria-expanded="true">For Medlemmer</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Kepsejlads</a>
                                <a class="dropdown-item" href="Både">Kalender</a>
                                <a class="dropdown-item" href="#">Book en båd</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" style="color:black " aria-expanded="true">Om os</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Om os</a>
                                <a class="dropdown-item" href="Både">Både</a>
                                <a class="dropdown-item" href="#">Bestyrelsen</a>
                                <a class="dropdown-item" href="#">Hold</a>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Billeder">Billeder</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" style=" color:black" aria-expanded="true">Regler</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Regler</a>
                                <a class="dropdown-item" href="Både">Vedtægter</a>
                                <a class="dropdown-item" href="#">Lokationsregler</a>
                            </div>
                        </li>

                        <li class="nav-item" .container {
                            align-items: flex-end;
                            display: flex;
                            flex-direction: column;
                            }>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Bruger</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="form-text text-dark">
                                    Lokation .. <br /> CVR ....
                                </a>


                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Kontaktinformation">Kontaktinformation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Om Os">Om os</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Vedtægter">Vedtægter</a>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>